<div class="group-wrapper">
  <div class="group-header" (click)="toggle()">
    <h4 class="group-title">{{ field.label }}</h4>
    <span class="toggle-icon" [class.collapsed]="collapsed">
      ▼
    </span>
  </div>
  <div class="group-body" *ngIf="!collapsed && formFieldComponent">
    <div *ngFor="let child of field.children" class="field-item">
      <ng-container *ngComponentOutlet="formFieldComponent; inputs: { field: child, form: form, tableRows: tableRows, collapsedMap: collapsedMap }"></ng-container>
    </div>
  </div>
</div>
