<div class="field-wrapper">

  <!-- Field Header with Label and Info Icon -->
  <div class="field-header" *ngIf="field?.label && field.specificType !== FieldTypeDto.Checkbox">
    <label class="field-label">
      {{ field.label }}
      <span class="required-star" *ngIf="field.isRequired">*</span>
    </label>
    <span class="field-info-icon" *ngIf="field.helpText">
      <span class="info-icon">i</span>
      <span class="info-tooltip">{{ field.helpText }}</span>
    </span>
  </div>

  <ng-container [ngSwitch]="field.specificType">

    <!-- Text Input -->
    <ng-container *ngSwitchCase="FieldTypeDto.Text">
      <input type="text" 
             class="field-input"
             [formControl]="$any(form.get(field.fieldId))"
             [placeholder]="field.placeholderText || ''"
             [readonly]="field.isReadonly"
             [class.readonly]="field.isReadonly"
             [class.error]="hasError()">
    </ng-container>

    <!-- Number Input -->
    <ng-container *ngSwitchCase="FieldTypeDto.Number">
      <input type="number" 
             class="field-input"
             [formControl]="$any(form.get(field.fieldId))"
             [placeholder]="field.placeholderText || ''"
             [readonly]="field.isReadonly"
             [class.readonly]="field.isReadonly"
             [class.error]="hasError()">
    </ng-container>

    <!-- Currency Input -->
    <ng-container *ngSwitchCase="FieldTypeDto.Currency">
      <div class="input-prefix-wrapper" [class.error]="hasError()">
        <span class="input-prefix">₹</span>
        <input type="number" 
               class="field-input with-prefix"
               [formControl]="$any(form.get(field.fieldId))"
               [placeholder]="field.placeholderText || '0.00'"
               [readonly]="field.isReadonly"
               [class.readonly]="field.isReadonly">
      </div>
    </ng-container>

    <!-- Date Input -->
    <ng-container *ngSwitchCase="FieldTypeDto.Date">
      <input type="date" 
             class="field-input"
             [formControl]="$any(form.get(field.fieldId))"
             [readonly]="field.isReadonly"
             [class.readonly]="field.isReadonly"
             [class.error]="hasError()">
    </ng-container>

    <!-- Dropdown -->
    <ng-container *ngSwitchCase="FieldTypeDto.Dropdown">
      <select class="field-input field-select"
              [formControl]="$any(form.get(field.fieldId))"
              [class.error]="hasError()">
        <option value="">-- Select --</option>
        <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
      </select>
    </ng-container>

    <!-- Textarea -->
    <ng-container *ngSwitchCase="FieldTypeDto.Textarea">
      <textarea class="field-input field-textarea"
                [formControl]="$any(form.get(field.fieldId))"
                [placeholder]="field.placeholderText || ''"
                [readonly]="field.isReadonly"
                [class.readonly]="field.isReadonly"
                [class.error]="hasError()"></textarea>
    </ng-container>

    <!-- Checkbox -->
    <ng-container *ngSwitchCase="FieldTypeDto.Checkbox">
      <div class="checkbox-wrapper">
        <label class="checkbox-label">
          <input type="checkbox" class="field-checkbox"
                 [formControl]="$any(form.get(field.fieldId))"
                 [attr.disabled]="field.isReadonly ? true : null">
          <span>{{ field.label }}</span>
        </label>
      </div>
    </ng-container>

    <!-- Radio Buttons -->
    <ng-container *ngSwitchCase="FieldTypeDto.Radio">
      <div class="radio-group">
        <label class="radio-label" *ngFor="let opt of field.options">
          <input type="radio"
                 [formControl]="$any(form.get(field.fieldId))"
                 [value]="opt"
                 [attr.disabled]="field.isReadonly ? true : null">
          <span>{{ opt }}</span>
        </label>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <input type="text" class="field-input"
             [formControl]="$any(form.get(field.fieldId))"
             [placeholder]="field.placeholderText || ''"
             [class.error]="hasError()">
    </ng-container>

  </ng-container>

  <!-- Only show error text, not help text -->
  <p class="error-text" *ngIf="hasError()">{{ getErrorMessage() }}</p>

</div>
