<div class="tabs-wrapper">
  <div class="tab-bar">
    <button
      *ngFor="let tab of field.children; let i = index"
      type="button"
      class="tab-btn"
      [class.active]="activeTab === i"
      (click)="activeTab = i">
      {{ tab.label }}
    </button>
  </div>
  <div class="tab-panels" *ngIf="formFieldComponent">
    <div class="tab-panel" *ngFor="let tab of field.children; let i = index" [hidden]="activeTab !== i">
      <div *ngFor="let child of tab.children" class="field-item">
        <ng-container *ngComponentOutlet="formFieldComponent; inputs: { field: child, form: form, tableRows: tableRows, collapsedMap: collapsedMap }"></ng-container>
      </div>
    </div>
  </div>
</div>
